#about-me {
  background-color: #ecadb1; }
  #about-me .title-page {
    padding: 1.5rem 1.5rem 2rem; }
    #about-me .title-page div .row {
      display: flex; }
    #about-me .title-page .content {
      color: #fff;
      order: 2; }
      #about-me .title-page .content h1 {
        font-family: "Zilla Slab", serif;
        font-weight: 600;
        text-align: center; }
      #about-me .title-page .content p {
        font-family: "Nunito", sans-serif;
        text-align: center; }
      #about-me .title-page .content a {
        position: relative;
        left: 38%;
        margin-right: .5rem; }
        #about-me .title-page .content a i {
          color: rgba(71, 158, 217, 0.7); }
    #about-me .title-page .pic {
      order: 1; }
      #about-me .title-page .pic .prof-pic {
        width: 55%;
        border-radius: 100%;
        border: solid 5px;
        border-color: rgba(71, 158, 217, 0.7);
        position: relative;
        left: 23%;
        margin-bottom: 1rem; }

#my-work {
  font-family: "Nunito", sans-serif; }
  #my-work .projects {
    padding: 1.5rem 1.5rem .5rem;
    font-family: "Zilla Slab", serif;
    text-align: center; }
    #my-work .projects h1 {
      margin-bottom: 1rem;
      font-weight: 600; }
    #my-work .projects .card {
      margin-bottom: 1.5rem; }
      #my-work .projects .card a {
        margin-right: .3rem; }
        #my-work .projects .card a i {
          color: rgba(71, 158, 217, 0.7); }

#my-stack .skills {
  background-color: rgba(71, 158, 217, 0.7);
  padding: 1.5rem 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "title title" "html css" "sass js" "jq node" "ruby ruby"; }
  #my-stack .skills h2 {
    grid-area: title;
    text-align: center;
    color: #fff;
    padding-bottom: 1rem;
    font-weight: 400; }
  #my-stack .skills div {
    padding: 1rem;
    display: flex;
    justify-content: center; }
    #my-stack .skills div i, #my-stack .skills div img {
      width: 70px;
      text-align: center; }

#contact-me .footer {
  padding: 1.5rem 1.5rem 2rem;
  display: flex;
  justify-content: space-around; }
  #contact-me .footer a i {
    color: rgba(71, 158, 217, 0.7); }

@media only screen and (min-width: 992px) {
  #about-me .title-page {
    padding-top: 4rem;
    padding-left: 4rem;
    padding-right: 4rem; }
    #about-me .title-page .content {
      order: 1; }
      #about-me .title-page .content h1, #about-me .title-page .content p {
        text-align: left; }
      #about-me .title-page .content a {
        left: auto; }
    #about-me .title-page .pic {
      order: 2; }
  #my-work .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "title title" "flylo tindog" "drum simon";
    margin-bottom: 3rem; }
    #my-work .projects h1 {
      grid-area: title;
      margin-top: 1.5rem;
      margin-bottom: 2rem; }
    #my-work .projects .card {
      margin: 1rem; }
  #contact-me .footer {
    justify-content: flex-start; }
    #contact-me .footer a {
      margin-right: 1.5rem; } }
